
.main
{
    margin-top:70px;
    display:flex; 
    justify-content: center;
    align-items: center;  
    text-align: center;
    font-size: 20px;
    gap: 20px;
     font-family:Arial;
}
p{
    color: grey;
}

b{
    letter-spacing: 3px;
    color: black;
    
    }
    .sub2{
        margin-top:60px;
    }

.img-one{
      height: 75px;
}
.img-two{
     height: 60px;
}
.img-three{
    height: 60px;
}
.img-four{
    height: 400px;
}
.sec{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family: Arial;
    font-size: 25px;
       
}
.Image-5{
    height:550px;
}

.thhh{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family: Arial;  
    font-size: 25px;
}
.thhh p{
    width:400px;
}
.Image-6{
    height:500px;
}
.for{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family: Arial;  
    font-size: 25px;
}
.Image-7{
    height:600px;
}
.tom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family: Arial;  
    font-size: 25px;
}

.Image-8{
    position:relative;
    bottom: 50px;
    right:50px;
    height:50px;
}



.last1{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px; 
    font-family: Arial;
    font-size: 25px;
    
}
.Image-9{
 height:70px;
}
.Image-10{  
 height:70px;
}


.last2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family:Arial;
}
.Image-11{
    width:100px;
}
